@layer utilities {
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}

@theme {
  --animate-slide-top: slide-in-from-top 0.8s ease-out forwards;

  @keyframes slide-in-from-top {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in: fade-in 1s ease-in forwards;

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  --animate-slow-bounce: custom-bounce 2s infinite;

  @keyframes custom-bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  --animate-waving-hand: waving-hand 2.5s infinite;

  @keyframes waving-hand {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(90deg);
    }
    20% {
      transform: rotate(-18deg);
    }
    30% {
      transform: rotate(90deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  --animate-slide-in-out-left: slide-in-out-left 4s ease-in-out forwards;

  @keyframes slide-in-out-left {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    10% {
      opacity: 1;
      transform: translateX(0);
    }
    90% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  --animate-spin: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
