:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f182e;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

@import "tailwindcss";

@font-face {
  font-family: "Workbench";
  src: url("/fonts/Workbench.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
