:root {
  color-scheme: dark;
  font-family: "Sometype Mono";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f182e;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

@import "tailwindcss";

@font-face {
  font-family: "Workbench";
  src: url("/fonts/Workbench.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sometype Mono"; 
  src: url("/fonts/SometypeMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sometype Mono"; 
  src: url("/fonts/SometypeMono-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Sometype Mono"; 
  src: url("/fonts/SometypeMono-SemiBold.ttf") format("truetype");
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: "Sometype Mono"; 
  src: url("/fonts/SometypeMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
