<a href="https://bg.ibelick.com/">bg.ibelick.com</a>
<a href="https://www.jesse-zhou.com/">jesse-zhou.com</a>
<a href="https://brittanychiang.com/#projects">brittanychiang.com</a>
<a href="https://tabler.io/icons">tabler.io/icons</a>
<a href="https://tailwindcss.com/">tailwindcss.com</a>
<a href="https://flowbite.com/">flowbite.com</a>
<a href="https://matteosantoro.dev/">matteosantoro.dev</a>
<a href="https://astro.build/">astro.build</a>
<a href="https://jccdev.vercel.app/">jccdev.vercel.app</a>
<a href="https://henriheymans.com/works">henriheymans.com</a>
<a
    href="https://www.awwwards.com/inspiration/contact-us-interactive-form-with-character-mygom-tech-1"
    >awwwards.com</a
>
<a
    href="https://platzi.com/blog/5-proyectos-para-tu-portafolio-como-frontend-developer/"
    >platzi.com</a
>
