---
// components/HamburguerButton.astro
const { translate } = Astro.props;
---

<button
  id="hamburger-btn"
  class="md:hidden z-50 relative p-2 text-zinc-900 dark:text-white"
  aria-label={translate("nav_arial_label")}
  aria-expanded="false"
  aria-controls="mobile-menu"
>
  <div class="w-6.5 h-5 relative flex flex-col justify-between">
    <span id="line-1" class="w-full h-0.75 bg-current transition-all duration-300 origin-left"></span>
    <span id="line-2" class="w-full h-0.75 bg-current transition-all duration-300"></span>
    <span id="line-3" class="w-full h-0.75 bg-current transition-all duration-300 origin-left"></span>
  </div>
</button>

<script>
  const btn = document.getElementById("hamburger-btn");
  const menu = document.getElementById("mobile-menu");
  const header = document.getElementById("header");
  const langPicker = document.getElementById("language-picker");

  const lines = [
    document.getElementById("line-1"),
    document.getElementById("line-2"),
    document.getElementById("line-3"),
  ];

  function toggleMenu() {
    const isOpening = btn?.getAttribute("aria-expanded") === "false";
    btn?.setAttribute("aria-expanded", isOpening.toString());

    if (isOpening) {
      header?.classList.add("h-screen", "bg-white/90", "dark:bg-black/90");
      document.body.classList.add("overflow-hidden");

      langPicker?.classList.add("pointer-events-none");

      menu?.classList.remove("hidden");
      setTimeout(() => {
        menu?.classList.add("min-h-[90vh]", "py-[20vh]");
      }, 10);

      lines[0]?.classList.add("rotate-45", "translate-x-0.5");
      lines[1]?.classList.add("opacity-0");
      lines[2]?.classList.add("-rotate-45", "translate-x-0.5", "translate-y-0.25");
    } else {
      header?.classList.remove("h-screen", "bg-white/90", "dark:bg-black/90");
      document.body.classList.remove("overflow-hidden");

      langPicker?.classList.remove("pointer-events-none");

      menu?.classList.remove("min-h-[90vh]", "py-[20vh]");

      setTimeout(() => {
        if (btn?.getAttribute("aria-expanded") === "false") {
          menu?.classList.add("hidden");
        }
      }, 500);

      lines[0]?.classList.remove("rotate-45", "translate-x-0.5");
      lines[1]?.classList.remove("opacity-0");
      lines[2]?.classList.remove("-rotate-45", "translate-x-0.5", "translate-y-0.25");
    }
  }

  btn?.addEventListener("click", toggleMenu);

  window.addEventListener("resize", () => {
    if (window.innerWidth >= 768 && btn?.getAttribute("aria-expanded") === "true") {
      toggleMenu();
    }
  });
</script>
