---
const { class: className } = Astro.props;
---

<header
  class="fixed left-0 right-0 z-50 bg-gradient-to-b dark:from-black/100 from-white/100 to-transparent transition-opacity duration-500"
>
  <nav class={`${className} flex justify-between`}>
    <p class="text-[38px] lg:text-5xl font-[workbench]">AM</p>
    <nav class="flex items-center gap-2">
      <button class="hidden sm:block">
        <svg class="w-6 h-6">
          <use href="/src/assets/icons/icons-sprite.svg#moon-icon"></use>
        </svg>
      </button>
      <button class="flex items-center gap-1">
        EN
        <svg class="w-6 h-6">
          <use href="/src/assets/icons/icons-sprite.svg#down-icon"></use>
        </svg>
        <ul class="hidden">
          <li>EN</li>
          <li>ES</li>
          <li>DE</li>
        </ul>
      </button>
      <button class="md:hidden">
        <svg class="w-6 h-6">
          <use href="/src/assets/icons/icons-sprite.svg#menu-icon"></use>
        </svg>
      </button>
    </nav>
  </nav>
</header>
