---
const { translate } = Astro.props;
---

<header
  class="fixed top-0 right-0 left-0 px-[18px] pt-6 md:pt-12 flex justify-between items-center"
>
  <p class="text-5xl font-[workbench]">AM</p>
  <nav class="flex items-center gap-2">
    <button class="hidden md:block">
      <svg class="w-6 h-6">
        <use href="/assets/icons/icons-sprite.svg#moon-icon"></use>
      </svg>
    </button>
    <button class="flex items-center gap-1">
      EN
      <svg class="w-6 h-6">
        <use href="/assets/icons/icons-sprite.svg#down-icon"></use>
      </svg>
      <ul class="hidden">
        <li>EN</li>
        <li>ES</li>
        <li>DE</li>
      </ul>
    </button>
    <button class="md:hidden">
      <svg class="w-6 h-6">
        <use href="/assets/icons/icons-sprite.svg#menu-icon"></use>
      </svg>
    </button>
  </nav>
</header>
