---
import GithubIcon from "../assets/icons/GithubIcon.astro";
import Badge from "./Badge.astro";
---

<section
    id="intro"
    class="flex flex-col gap-4 h-screen justify-center items-center"
>
    <h1 class="text-6xl font-bold z-10">Andrés Méndez</h1>
    <h2 class="text-2xl font-bold">Web Developer Junior</h2>
    <Badge>Available for Junior projects and opportunities</Badge>

    <section class="grid gap-2 md:flex md:gap-4">
        <GithubIcon />Versions
        <GithubIcon />Intro
        <GithubIcon />About
        <GithubIcon />What I do
        <GithubIcon />Skills
        <GithubIcon />Contact
        <GithubIcon />Contact form.
    </section>
</section>
