---
import { getTranslatedPath, languages } from "../assets/i18n/utils";

const { currentLang, translate } = Astro.props;

const sortedLanguages = Object.entries(languages).sort(([codeA], [codeB]) => {
  if (codeA === currentLang) return -1;
  if (codeB === currentLang) return 1;
  return 0;
});
---

<div class="relative" id="language-picker">
  <button
    type="button"
    class="flex items-center gap-x-1 text-2xl font-medium uppercase px-2 pb-0.3 pt-0.5 rounded-lg hover:bg-gray-100 dark:hover:bg-zinc-800"
    id="menu-button"
    aria-expanded="false"
    aria-haspopup="true"
    aria-label={translate("aria_label_language_picker")}
  >
    {currentLang}
    <svg class="w-6 h-6 transition-transform duration-200 stroke-2" id="chevron">
      <use href="/src/assets/icons/icons-sprite.svg#down-icon"></use>
    </svg>
  </button>

  <menu
    class="absolute z-50 hidden w-16 origin-top-right flex-col backdrop-blur-md shadow-xl rounded-lg"
    id="menu-items"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
  >
    {
      sortedLanguages.map(([code]) => {
        const href = getTranslatedPath(Astro.url, code);
        const isActive = currentLang === code;

        return (
          <li role="none">
            <a
              href={href}
              class:list={[
                "block text-center py-1 text-2xl uppercase transition-colors rounded-lg hover:bg-gray-100 dark:hover:bg-zinc-800",
                isActive ? " opacity-40 pointer-events-none" : "",
              ]}
              role="menuitem"
              aria-current={isActive ? "page" : undefined}
              aria-label={translate(`aria_label_${code}`)}
            >
              {code}
            </a>
          </li>
        );
      })
    }
  </menu>
</div>

<script>
  const picker = document.getElementById("language-picker");
  const btn = document.getElementById("menu-button");
  const menu = document.getElementById("menu-items");
  const chevron = document.getElementById("chevron");

  function toggleMenu() {
    const isExpanded = btn?.getAttribute("aria-expanded") === "true";
    btn?.setAttribute("aria-expanded", (!isExpanded).toString());
    menu?.classList.toggle("hidden");
    menu?.classList.toggle("flex");
    chevron?.classList.toggle("rotate-180");
  }

  btn?.addEventListener("click", (e) => {
    e.stopPropagation();
    toggleMenu();
  });

  document.addEventListener("click", (e) => {
    if (!picker?.contains(e.target as Node)) {
      btn?.setAttribute("aria-expanded", "false");
      menu?.classList.add("hidden");
      menu?.classList.remove("flex");
      chevron?.classList.remove("rotate-180");
    }
  });

  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape" && !menu?.classList.contains("hidden")) {
      toggleMenu();
    }
  });
</script>
