---
// components/NavIndex.astro
const { class: className, id, currentLang, translate } = Astro.props;

const navItems = [
  { id: "intro", label: "nav_intro" },
  { id: "about", label: "nav_about" },
  { id: "skills", label: "nav_skills" },
  { id: "projects", label: "nav_projects" },
  { id: "contact", label: "nav_contact" },
];
---

<nav id={id} class:list={["flex-col items-center justify-center transition-all duration-500 ease-in-out", className]}>
  <ol class="grid items-center gap-6 text-xl font-semibold text-center md:text-right">
    {
      navItems.map((item) => (
        <li>
          <a
            href={`/${currentLang === "en" ? "" : currentLang + "/"}#${item.id}`}
            class="hover:text-zinc-500 transition-colors uppercase tracking-widest block py-2 md:py-1"
          >
            {translate(item.label)}
          </a>
        </li>
      ))
    }
  </ol>
</nav>
