---
import SkillsCarousel from "./SkillsCarousel.astro";

const { translate } = Astro.props;
---

<h3>{translate("skills_title")}</h3>
<p>
  {translate("skills_description")}
</p>

<SkillsCarousel />
