---
interface Props {
  skills?: { name: string; icon: string; id: number }[];
}

const skills = Astro.props.skills || [];
const doubleSkills = [...skills, ...skills];
---

<section class="overflow-hidden w-full border-b border-t border-white/10">
  <ul class="flex w-max gap-8 py-4 animate-carousel will-change-transform">
    {
      doubleSkills.map((skill) => (
        <li class="text-center">
          <svg class="text-primary">
            <use href={`/icons/icons-sprite.svg#${skill.icon}`} />
          </svg>
          <p>{skill.name}</p>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .animate-carousel {
    animation: scroll 20s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-50% - 1rem));
    }
  }

  .animate-carousel:hover {
    animation-play-state: paused;
  }
</style>
