---

---

<h3>Skills</h3>
<p>
    These are some of the technologies and tools I have worked with in project
    development.
</p>
<section>
    <ul>
        <li>HTML 5</li>
        <li>CSS 3</li>
        <li>JavaScript</li>
        <li>Astro</li>
        <li>Tailwind CSS</li>
        <li>Bootstrap</li>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>Git</li>
        <li>GitHub</li>
        <li>Bitbucket</li>
    </ul>
</section>
