---
import WIDCard from "./WIDCard.astro";

const { translate } = Astro.props;
---

<h3>{translate("wid_title")}</h3>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  <WIDCard translate={translate} />
</div>
