---
const { translate } = Astro.props;

const widList = [
  { title: "wid_web_development_title", description: "wid_web_development_description", icon: "development-icon" },
  { title: "wid_frontend_title", description: "wid_frontend_description", icon: "frontend-icon" },
  { title: "wid_maintenance_title", description: "wid_maintenance_description", icon: "maintenance-icon" },
  { title: "wid_backend_title", description: "wid_backend_description", icon: "backend-icon" },
];
---

{
  widList.map((wid) => (
    <article class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs hover:bg-neutral-secondary-medium">
      <header class="text-center">
        <svg aria-hidden="true">
          <use href={`/src/assets/icons/icons-sprite.svg#${wid.icon}`} />
        </svg>
        <h4 class="mb-3 text-xl font-semibold tracking-tight text-heading leading-8">{translate(wid.title)}</h4>
      </header>
      <p class="mb-3 text-base text-body leading-7">{translate(wid.description)}</p>
    </article>
  ))
}
