---
import { defaultLang, languages, useTranslations } from "../../assets/i18n/utils";
import L404 from "../../layouts/L-404.astro";
import "../../styles/global.css";

export async function getStaticPaths() {
  return Object.keys(languages)
    .filter((lang) => lang !== defaultLang)
    .map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const translate = useTranslations(lang as "es" | "de");
---

<L404 currentLang={lang} translate={translate}>
  <p class="text-4xl">{translate("not_found_title")}</p>
  <p class="text-xl">{translate("not_found_description")}</p>
  <a href={`${import.meta.env.BASE_URL}`} class="text-xl">{translate("not_found_back")}</a>
</L404>
